*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #c1c1c1;
}
.card{
    width: 30%;
    min-width: 370px;
    height: 100px;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    padding-left: 20px;
    align-items: center;
    transition: .5s;
}
.card:hover{
    transform: translateX(20px);
}

.card-content{
    gap: 5px;
    width: 89%;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
}
.fa-solid{
    font-size: 40px;
    color: green;
}
.fa-arrow-up{
    color: red;
}
.grupo{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-right: 20px;
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
}
img{
    width: 50px;
    height: 50px;
}
span{
    color: #fff;
    font-weight: bold;

    width: 110px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    
}
.deposito{
    background-color: green;
}
.retirada{
    background-color: red;
}
.rendimento{
    background-color: blue;
}
.acumulado{
    background-color: goldenrod;
}

